<%- include('includes/head'); %>
<%- include('includes/nav'); %>


<div class="container" style="width: 1600px;">
  <div class="row">
    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">
        Seus contatos estão abaixo!
      </p>
    </div>
    
    <%- include('includes/messages') %>

    <div class="col-12">
      <div class="table-responsive">
        <table class="table my-3">
          <% if (contacts) { %>
            <thead class="text-centered">
              <tr>                
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Tel</th>
                <th scope="col">e-mail</th>
                <th scope="col">Criado</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <% contacts.forEach(contact => { %>
              <tbody>
                <tr>
                  <td><%= contact.name %></td>
                  <td><%= contact.lastname %></td>
                  <td><%= contact.tel %></td>
                  <td><%= contact.email %></td>
                  <td>
                    <% 
                      const date = new Date(contact.createdAt);
                      const day = date.getDate().toString().padStart(2, '0');
                      const month = (date.getMonth() + 1).toString().padStart(2, '0');
                      const year = date.getFullYear();
                      const formattedDate = `${day}/${month}/${year}`;
                    %>
                    <%= formattedDate %>
                  </td>
                  <td title="Editar">
                    <a href='/contato/index/<%=contact._id%>' target="_blank">
                      <i class="bi bi-pencil-square"></i>
                    </a>
                  </td>
                  <form action="/contato/delete" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="user_delete" value="<%=contact._id%>">
                    <td title="Excluir Contato">
                      <button class="btn" type="submit">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </td>
                  </form>
                </tr>
              </tbody>              
            <% }) %>
          <% } %>          
        </table>
      </div>
    </div>
  </div>
</div>


<%- include('includes/footer'); %>